@import '../Utils/variables';

button {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

#btn_inscr,
#btn_connect,
.btn_poster,
.btn_retour,
.btn_modifier,
.btn_supprimer,
.btn_enregistrer,
.btn_annuler {
    border-radius: 5px 5px 5px 5px;
    height: 3em;
    width: 8em;
}

#btn_inscr:hover,
#btn_connect:hover,
.btn_poster:hover,
.btn_retour:hover,
.btn_modifier:hover,
.btn_supprimer:hover,
.btn_enregistrer:hover,
.btn_annuler:hover {
    font-weight: bold;
}

#btn_inscr,
#btn_connect,
.btn_poster,
.btn_enregistrer {
    border: solid 2px $color_pink;
    background-color: $color_grey;
    color: $color_pink;
    margin-top: 2em;
}

.btn_retour {
    margin-right: 2em;
}

.btn_retour,
.btn_annuler {
    border: solid 2px $color_grey;
    background-color: $color_pink;
    color: $color_grey;
}

.btn_modifier {
    border: solid 2px $color_red;
    background-color: $color_pink;
    margin-right: 2em;
}

.btn_supprimer {
    border: solid 2px $color_pink;
    background-color: $color_red;
    color: $color_pink;
}

.btn_annuler {
    margin: 2em 0 0 2em;
}

.btn_modifier-lien {
    text-decoration: none;
    color: $color_red;
}

.btn_retour-lien,
.btn_annuler-lien {
    color: $color_grey;
    text-decoration: none;
}

.post_btn {
    display: flex;
}

/* Responsive */

/* Sur mobiles */

@media screen and (max-width: 425px) {

    .btn_retour,
    .btn_modifier,
    .btn_annuler {
        margin: 0 1em 0 0;
    }

}