@import '../Utils/variables';

.form_inscr-connect,
.form_create-post,
.form_update-post {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.form_inscr-connect>form>label,
.form_create-post>form>label,
.form_update-post>form>.post>.post_descript>label {
    color: $color_red;
    font-weight: bold;

}

.form_inscr-connect>form>input,
.form_create-post>form>input,
.form_update-post>form>.post>.post_descript>input {
    color: $color_grey;
    border: solid 1.5px $color_grey;
    background-color: $color_pink;
    margin: 10px 0px 5px 0px;
    width: 100%;
}

.form_inscr-connect>form>input,
.form_create-post>form>input,
.form_update-post>form>.post>.post_descript>input {
    height: 2em;
}