@import '../Utils/variables';

.img_affich,
.img_update {
    border: 2px dashed #FFD7D7;
    padding: 15px;
}

.img_update {
    display: flex;
    flex-direction: column-reverse;
}

.imgs,
.img_update {
    max-width: 25%;
    min-width: 75%;
    margin: 1em;
}

.imgs {
    display: flex;
    flex-direction: column;
}

.img_affich>img,
.img_update>img {
    width: 100%;
}

.imgs>label {
    color: $color_red;
    font-weight: bold;
    margin: 0 0 0 2em;
}

.select-img {
    flex-direction: column;
}

.select-img,
.select-img_update {
    display: flex;
    margin-block-end: auto;
}

.select-img_update {
    flex-direction: column;
    text-align: center;
}

.select-img-lien {
    color: $color_red;
    margin: 1em;
}

#newPicture {
    display: none;
}

#newPicture:target {
    display: block;
}

.newPicture>input {
    border: solid 2px $color_grey;
    border-radius: 5px 5px 5px 5px;
    background-color: $color_pink;
    color: $color_grey;
    height: 3em;
    width: 8em;
    margin-right: 2em;
}

.newPicture>input:hover {
    font-weight: bold;
}

/* Responsive */

/* Sur mobiles */

@media screen and (max-width: 950px) {

    .img_affich {
        max-width: 70%;
    }
}