@import '../Utils/variables';

.img_affich,
.img_update {
    display: flex;
    border: 2px dashed #FFD7D7;
    padding: 15px;
}

.img_update {
    display: flex;
    flex-direction: column-reverse;
}

.imgs,
.img_update {
    max-width: 25%;
    min-width: 75%;
    margin: 1em;
}

.imgs {
    display: flex;
    flex-direction: column;
}

.img_affich>img,
.img_update>img {
    align-self: center;
    width: 100%;
}

.imgs>label {
    color: $color_red;
    font-weight: bold;
    margin: 0 0 0 2em;
}

.select-img,
.select-img_update {
    display: flex;
    flex-direction: column;
    margin-block-end: auto;
}

.select-img_update {
    text-align: center;
}

.select-img-lien {
    color: $color_red;
    margin: 1em;
}

.newPicture {
    display: flex;
}

.newPicture>input {
    border: solid 1px #4E5166;
    border-radius: 5px 5px 5px 5px;
    background-color: #FFD7D7;
    color: #4E5166;
    padding: 10px;
}

/* Responsive */

/* Sur mobiles */

@media screen and (max-width: 425px) {

    .newPicture>input {
        width: 100%;
    }
}