.post_icon {
    display: flex;
    align-items: baseline;
    margin: 10px;
}

.icon_like {
    display: flex;
    flex-direction: column;
}

.like,
.unlike {
    font-size: x-large;
    margin: 10px;
}

.like {
    color: green;
}

.unlike {
    color: black;
}

.nbLikesPost {
    text-align: center;
    color: black;
    margin: 0px 0px 10px 0px;
}