.post_icon {
    display: flex;
    margin: 10px;
}

.icon_like,
.icon_unlike {
    display: flex;
    align-items: baseline;
}

.icon_like>i,
.icon_unlike>i {
    font-size: x-large;
    margin: 10px;
}

.like {
    color: green;
}

.unlike {
    color: gray;
}

.likeValue {
    color: black;
}