/* Formulaires Inscription - Connexion */

.form_inscr-connect,
.form_creat-post {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.form_inscr-connect>form>label,
.form_creat-post>form>label {
    color: $color_red;
    font-weight: bold;
}

.form_inscr-connect>form>input,
.form_creat-post>form>input,
#creatPost_contenu {
    width: 100%;
    border: solid 1.5px $color_grey;
    background-color: $color_pink;
    margin: 10px 0px 5px 0px;
}

.form_inscr-connect>form>input,
.form_creat-post>form>input {
    height: 2em;
}

.creatPost_img {
    display: flex;
    flex-direction: column;
}

.nomErrorMsg,
.prenomErrorMsg {
    display: none;
}

#nom:not(:placeholder-shown):invalid+.nomErrorMsg,
#prenom:not(:placeholder-shown):invalid+.prenomErrorMsg {
    display: block;
    margin: 0px 0px 10px 0px;
}