/* HTML */
html{
    font-family:'Lato', sans-serif;
}

/* Main */
main{
    margin:auto;
}

/* Titre */
h1{
    display: flex;
    justify-content: center;
    color: $color_grey;
}

/* Formulaire */
form{
    max-width: 400px;
    margin: 0 10px 0 10px;
}

/* Paragraphe */
p{
    text-align: justify;
}