/* HTML */
html{
    font-family:'Lato', sans-serif;
}

/* Main */
.main{
    margin:auto;
}

/* Titre */
h1{
    display: flex;
    justify-content: center;
    color: $color_grey;
}

/* Formulaire */
form{
    width: 35%;
}

/* Paragraphe */
p{
    text-align: justify;
}