@import "../Utils/variables";

/* Logo */
#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

#logo>img {
  max-width: 100%;
}

#logo>p {
  color: $color_red;
  font-size: x-large;
  margin: 0 0 1em 0;
}

/* Nav */
.liensHeader_inscr-connect {
  display: flex;
  justify-content: flex-end;
}

.liensHeader {
  display: flex;
  justify-content: space-between;
}

.lien_inscription,
.lien_connexion,
.lien_posts,
.lien_ajoutPost,
.lien_posts,
.lien_ajoutPost,
.lien_deconnexion {
  color: $color_grey;
  margin: 10px;
}

.lien_inscription:hover,
.lien_connexion:hover,
.lien_posts:hover,
.lien_ajoutPost:hover,
.lien_deconnexion:hover {
  font-weight: bold;
}

#pseudo {
  font-weight: bold;
}

/* Séparateur */
hr {
  color: $color_pink;
  border: 1px solid;
  margin-top: 15px;
}

@media screen and (max-width: 425px) {

  #logo>p {
    font-size: medium;
    margin: 0;
  }

  .liensHeader {
    flex-wrap: wrap;
    white-space: pre-line;
  }
}