@import "../Utils/variables";

/* Logo */
#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

#logo>img {
  max-width: 100%;
}

#logo>p {
  color: $color_red;
  font-size: x-large;
  margin: 0 0 1em 0;
}

/* Nav */
.nav_Header_inscr-connect {
  display: flex;
  justify-content: flex-end;
}

.nav_Header {
  display: flex;
  justify-content: space-between;
}

.lien-inscription,
.lien-connexion,
.lien-ajoutPost,
.lien-listePosts,
.lien-deconnexion {
  color: $color_grey;
  margin: 10px;
}

.lien-inscription:hover,
.lien-connexion:hover,
.lien-listePosts:hover,
.lien-ajoutPost:hover,
.lien-deconnexion:hover {
  font-weight: bold;
}

.deconnection-pseudo {
  font-weight: bold;
}

/* Séparateur */
hr {
  color: $color_pink;
  border: 1px solid;
  margin-top: 5px;
}

@media screen and (max-width: 425px) {

  #logo>p {
    font-size: medium;
    margin: 0;
  }

  .nav_Header {
    flex-wrap: wrap;
  }

  .nav_Header-liens {
    display: flex;
    width: 100%;
  }

  .lien-listePosts {
    margin-inline-end: auto;
  }
}