@import '../Utils/variables';
@import '../Base/typography';

/* HTML */
html {
    font-family: 'Lato', sans-serif;
}

/* Main */
main {
    margin: auto;
}

/* Titre */
h1 {
    display: flex;
    justify-content: center;
    color: $color_grey;
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 10px 0 10px;
}

/* Article */
article {
    margin: 10px;
}

/* Paragraphe */
p {
    margin: 10px;
}

/* Responsive */

/* Sur mobiles */

@media screen and (max-width: 425px) {

    h1 {
        font-size: x-large;
    }

    h2 {
        font-size: larger;
    }
}