@import '../Utils/variables';

.post_titre {
    color: $color_red;
}

.post {
    display: flex;
    flex-direction: row-reverse;
    max-width: 70%;
}

.post_descript {
    display: flex;
    flex-direction: column;
    margin: 0 2em 0 2em;
}

.post_img {
    border: 2px dashed #FFD7D7;
    padding: 10px;
    display: flex;
    margin: 2em;
}

.post_img>img {
    width: 100%;
}

.post_auteur,
.post_contenu {
    color: $color_grey;
}

.post_contenu {
    height: 5em;
    text-overflow: ellipsis;
    border: 2px solid #4E5166;
    padding: 5px;
}

.post_icon {
    display: flex;
    margin: 10px;
}

.icon_like,
.icon_dislike {
    display: flex;
    align-items: baseline;
}

.icon_like>i,
.icon_dislike>i {
    font-size: x-large;
    margin: 10px;
}

.like {
    color: green;
}

.dislike {
    color: red;
}

/* Responsive */

/* Sur mobiles */

@media screen and (max-width: 1070px) {
    .post {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        max-width: 100%;
    }

    .post_img {
        max-width: 25%;
    }
}

@media screen and (max-width: 950px) {

    .post {
        flex-direction: column;
        align-items: center;
    }
}