@import '../Utils/variables';

.post_titre {
    color: $color_red;
}

.post {
    display: flex;
    flex-direction: row-reverse;
}

.post_descript,
.post_img {
    margin: 0 2em 0 2em;
}

.post_descript {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.post_img {
    border: 2px dashed $color_pink;
    padding: 10px;
}

.post_img>img {
    width: 100%;
}

.post_auteur,
.post_contenu {
    color: $color_grey;
}

.post_contenu {
    height: 5em;
    text-overflow: ellipsis;
}

.post_icon {
    display: flex;
    margin: 10px;
}

.icon_like,
.icon_dislike {
    display: flex;
    align-items: baseline;
}

.icon_like>i,
.icon_dislike>i {
    font-size: x-large;
    margin: 10px;
}

.like {
    color: green;
}

.dislike {
    color: red;
}

.post_img {
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 2em;
}

/* Responsive */

/* Sur mobiles */

@media screen and (max-width: 425px) {

    .post {
        flex-wrap: wrap;
    }

    .post_descript,
    .post_img {
        align-items: center;
        width: 100%;
    }

    .post_descript {
        margin: 0;
    }

    .icon_like,
    .icon_dislike {
        margin: 0;
    }
}