@import '../Utils/variables';

.inscription {
    display: flex;
    justify-content: center;
}

.inscription-lien,
.inscription-lien:visited {
    color: $color_red;
    text-decoration: none;
}

.inscription-lien:hover {
    font-weight: bold;
}