@import '../Utils/variables';

.createPost_img-lien {
  color: $color_red;
}

#newPicture {
  display: none;
}

#newPicture:target {
  display: block;
}

.newPicture>input {
  border: solid 2px $color_grey;
  border-radius: 5px 5px 5px 5px;
  background-color: $color_pink;
  color: $color_grey;
  height: 3em;
  width: 8em;
  margin-right: 2em;
}

.newPicture>input:hover {
  font-weight: bold;
}