@import '../Utils/variables';
@import '../Utils/mixins';
@import '../Base/base';

.liste_posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.posts {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    border: $color_red 1px solid;
    margin: 10px;
    width: 100%;
    max-width: 47%;
}

.posts_titre {
    color: $color_red;
}

.posts_auteur,
.posts_contenu {
    color: $color_grey;
}

.posts_contenu {
    @include line-clamp(2, 5em);
}

/* Responsive */

/* Sur mobiles */

@media screen and (max-width: 730px) {

    .posts {
        margin: 10px;
        max-width: 100%;
    }
}